/* line 3, ../compass/sass/main.scss */
body {
  background: #1A1A1A;
  font: 16px/20px "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'メイリオ',Meiryo,Helvetica,Arial,Sans-Serif;
  color: #FFF8F3;
  margin: 0;
}

/* line 17, ../compass/sass/main.scss */
#wrapper {
  width: 960px;
  margin: 0 auto;
}

/* line 22, ../compass/sass/main.scss */
.disnon {
  display: none;
}

/* line 26, ../compass/sass/main.scss */
#menu {
  width: 240px;
  float: left;
  height: 720px;
  background: #F23C50;
}
/* line 31, ../compass/sass/main.scss */
#menu header {
  height: 240px;
}
/* line 33, ../compass/sass/main.scss */
#menu header .logo {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}
/* line 41, ../compass/sass/main.scss */
#menu nav ul {
  color: #FFF8F3;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 46, ../compass/sass/main.scss */
#menu nav ul li {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
/* line 52, ../compass/sass/main.scss */
#menu nav ul .select {
  background: #202020;
  color: #F23C50;
}
/* line 59, ../compass/sass/main.scss */
#menu .search {
  text-align: center;
  padding-top: 50px;
}

/* line 65, ../compass/sass/main.scss */
.content_wrap {
  width: 720px;
  height: 720px;
  float: left;
  background: #202020;
}
/* line 70, ../compass/sass/main.scss */
.content_wrap h2 {
  padding: 0 0 30px 100px;
}
/* line 73, ../compass/sass/main.scss */
.content_wrap img {
  display: block;
  margin: 0 auto;
}

/* line 81, ../compass/sass/main.scss */
.sample {
  width: 540px;
}
