/* Reset
============================================================*/
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, abbr, article, aside, command, details, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary, time {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th, figcaption {
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
}

fieldset, iframe {
    border: none;
}

li {
    list-style: none;
}

caption, th {
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
    display: block;
}

/* Base
============================================================*/
body {
    font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Microsoft YaHei', 'Microsoft JhengHei', Verdana, 'ＭＳ Ｐゴシック', MS-PGothic, sans-serif;
    font-size: 13px;
    line-height: 1;
    color: #68696C;
    /*background: url(../img/common/bg.gif) repeat-x #F1F1F2 left top;*/
}

a {
    color: #fff;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: #00916C;
    text-decoration: none;
}

a img {
    border: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    display: block;
    border-radius: 2px;
}

input.btn {
    display: block;
    border-radius: 2px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.link {
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    background: #E5E6E6;
    border: 1px solid #D1D2D4;
    text-align: center;
    color: #68696C;
    text-decoration: none;
}

.link:hover {
    background: #ddd;
    color: #68696C;
}

.regist {
    clear: both;
    display: block;
    width: 153px;
    height: 44px;
    line-height: 44px;
    margin: 0 auto 30px;
    font-size: 19px;
    background: #4797F1;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.regist:hover {
    color: #fff;
    background: #1176E6;
}

.cancel {
    clear: both;
    display: inline-block;
    width: 143px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto 30px;
    font-size: 12px;
    background: #DCDEDE;
    text-align: center;
    text-decoration: none;
    color: #68696C;
}

.cancel:hover {
    color: #68696C;
    background: #ccc;
}

/* clearfix
============================================================*/
.clearfix {
    width: 100%;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

#head:after,
#main:after,
#content:after {
    content: "";
    display: block;
    clear: both;
}

/* main -------------------------------------------------------------------------------*/

#main {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#main > .inner {
    width: 52.15%;
    margin: auto;
    padding: 15px 0 0;
}

/* error -------------------------------------------------------------------------------*/
.error input[type=text] {
    background: url("img/icon-search.png") no-repeat scroll 5px 8px #FFCCCC !important;
}

p.error {
    color: #FF0000;
    font-weight: bold;
    margin-bottom: 3px;
    margin-left: 19.5%;
    width: auto;
    text-align: left;
}

/* Contents -------------------------------------------------------------------------------*/

#content {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

h1.logo {
    margin: 0 0 5px 0px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
}

h2 span {
    padding: 0 5px 5px 2px;
    border-bottom: 1px solid #D1D2D5;
}

h3 {
    margin: 0 0 4px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.3;
}

.column.left {
    width: 45%;
    margin-right: 1%;
    padding: 25px 2% 0;
    background: #E5E6E6;
    border-radius: 3px;
}

.column.right {
    width: 49%;
    background: #00CE9B;
}

.column.right .calendar-limit {
    text-align: center;
}

.column.right .calendar-limit h3 {
    height: 30px;
    margin-bottom: 0;
    padding-top: 10px;
    font-size: 18px;
    color: #A3A4A7;
    background: #323135;
}

.column.left input[type="text"],
textarea {
    width: 100%;
}

.column.left input[name="new_tag_name"] {
    width: 40%;
}

.column.left input[name="addTagButton"]:hover {
    background: #aaaaaa;
}

.column.left select {
    width: 150px;
}

.column.left select option {
    padding: 2px 0;
}

.focus {
    color: #969696
}

/* 検索
============================================================*/
input {
    margin: 0 auto 30px;
    /*display: block;*/
}

.searchForm {
    text-align: center;
    margin: 35px;
}

input[type="text"] {
    height: 32px;
    padding: 0 0 0 25px;
    border: 1px solid #D1D2D4;
    border-radius: 2px;
    min-width: 125px;
    line-height: 32px;
    font-size: 20px;
    background: url("img/icon-search.png") no-repeat scroll 5px 8px;
    width: 40%;
}

input[name="searchButton"] {
    background: none repeat scroll 0 0 #4797F1;
    border: medium none;
    clear: both;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 19px;
    height: 34px;
    text-align: center;
    text-decoration: none;
    width: 13%;
    min-width: 45px;
}

input[name="searchButton"]:hover {
    color: #fff;
    background: #1176E6;
}

#map_canvas {
    margin-top: 20px;
    display: none;
}

/* 結果
============================================================*/
.info {
    background: #edeeee;
    height: 878px;
    padding: 10px 20px 20px;
    position: relative;
}

.searchArea {
    text-align: right;
    font-size: 12px;
    padding-bottom: 3px;
}

#header {
    border-bottom: 1px solid #D1D2D5;
    height: 42px;
    padding: 9px 5px 0;
    color: #ffffff;
    background: #4797F1;
}

#header .headerLeft {
    float: left;
    width: 60%;
}

#header .headerLeft .kana {
    display: block;
    font-size: 11px;
    margin-bottom: 7px;
}

#header .headerLeft h2 {
    display: inline;
}

#header .headerRight {
    float: right;
    text-align: right;
    width: 40%;
}

#header .headerRight .address {
    margin: 5px 0;
    font-size: 11px;
}

#header .headerRight .tel {
    font-size: 15px;

}

#header .headerRight .tel span {
    display: inline;
    padding-right: 8px;
    font-size: 13px;
}

#content {

}

#content .picture {
    text-align: center;
    padding: 20px 0;
}

#content .picture img {
    padding: 0 0.8px;
}

#content table {
    background: #FFFFFF;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 1px solid #DADBDE;
    margin: auto;
    width: 100%;
}

#content table th,
#content table td {
    border-bottom: 1px solid #DADBDE;
    line-height: 1.8;
    padding: 5px 0 3px 8px;
}

#content table th {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: normal;
    width: 77px;
    background: #4797F1;
}

#content table td {
    font-size: 12px;
    font-weight: normal;
    min-width: 200px;
    text-align: left;
    width: 400px;
}

#content table td a {
    color: #4797F1;
    text-decoration: none;
}

#content table td a:hover {
    color: #4eb8fa;
}

#map {
    margin-top: 20px;
}

/* footer
============================================================*/
footer {
    float: right;
    margin-bottom: 20px;
}